<% include ../layout/head %>

<ul>
  <% for (var k in info) { %>
    <% var item = info[k]; %>
    <li>
      <span><%= k %></span>
      <span>:</span>
      <span><%= item %></span>
    </li>
  <% } %>
</ul>

<% include ../layout/footer %>